In [1]:
from google.colab import drive
import pandas as pd

In [2]:
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
# Load prices.csv into a pandas dataframe
prices_df = pd.read_csv('/content/drive/MyDrive/archive/prices.csv')

In [14]:
# Load prices-split-adjusted.csv into a pandas dataframe
df = pd.read_csv('/content/drive/MyDrive/prices-split-adjusted.csv')

In [5]:
# Load securities.csv into a pandas dataframe
securities_df = pd.read_csv('/content/drive/MyDrive/archive/securities.csv')

In [6]:
# Load fundamentals.csv into a pandas dataframe
fundamentals_df = pd.read_csv('/content/drive/MyDrive/archive/fundamentals.csv')

In [22]:
# Convert the date column to datetime format
df['date'] = pd.to_datetime(df['date'])

In [23]:
# Group the dataset by symbol and find the minimum and maximum dates for each stock
grouped_df = df.groupby('symbol').agg({'date': ['min', 'max']})
grouped_df.columns = ['date_min', 'date_max']
grouped_df.reset_index(inplace=True)

In [28]:
# Find the absolute minimum and maximum dates across all stocks
absolute_min_date = grouped_df['date_min'].min()
absolute_max_date = grouped_df['date_max'].max()

In [36]:
# Filter the dataset to include only the rows with the minimum and maximum dates for each stock
merged_df = pd.merge(df, grouped_df, on='symbol')
merged_df = merged_df[(merged_df['date'] == merged_df['date_min']) | (merged_df['date'] == merged_df['date_max'])]

In [37]:
# Calculate the percentage increase in price during the absolute time period for each stock
merged_df['price_increase'] = (merged_df.groupby('symbol')['close'].transform(lambda x: (x.iloc[-1] - x.iloc[0]) / x.iloc[0] * 100))

In [38]:
# Sort the stocks based on percentage increase in descending order
top_performing_stocks = merged_df.sort_values(by='price_increase', ascending=False)

In [39]:
# Display the top performing stocks
print(top_performing_stocks[['symbol', 'price_increase']].drop_duplicates().head(10))

       symbol  price_increase
535899   NFLX     1520.418918
629285   REGN     1390.418233
742052   ULTA     1252.466854
750863    URI      951.593645
42539     ALK      917.837746
2013      AAL      878.825975
689192    STZ      851.054519
79540    AVGO      837.274627
824865   CHTR      722.628609
567614   ORLY      623.142868