In [1]:
from google.colab import drive
import pandas as pd

In [2]:
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
# Load the dataset into a pandas dataframe
df = pd.read_csv('/content/drive/MyDrive/prices-split-adjusted.csv', parse_dates=['date'])

In [4]:
# Find the first and last date in the dataset
first_date = df['date'].min()
last_date = df['date'].max()

In [6]:
print(first_date,last_date)

2010-01-04 00:00:00 2016-12-30 00:00:00

In [7]:
# Filter the dataframe to only include data between the first and last date
df_filtered = df[df['date'].between(first_date, last_date)]

In [8]:
print(df_filtered)

             date symbol        open       close         low        high  \
0      2016-01-05   WLTW  123.430000  125.839996  122.309998  126.250000
1      2016-01-06   WLTW  125.239998  119.980003  119.940002  125.540001
2      2016-01-07   WLTW  116.379997  114.949997  114.930000  119.739998
3      2016-01-08   WLTW  115.480003  116.620003  113.500000  117.440002
4      2016-01-11   WLTW  117.010002  114.970001  114.089996  117.330002
...           ...    ...         ...         ...         ...         ...
851259 2016-12-30    ZBH  103.309998  103.199997  102.849998  103.930000
851260 2016-12-30   ZION   43.070000   43.040001   42.689999   43.310001
851261 2016-12-30    ZTS   53.639999   53.529999   53.270000   53.740002
851262 2016-12-30    AIV   44.730000   45.450001   44.410000   45.590000
851263 2016-12-30    FTV   54.200001   53.630001   53.389999   54.480000

           volume
0       2163600.0
1       2386400.0
2       2489500.0
3       2006300.0
4       1408600.0
...           ...
851259   973800.0
851260  1938100.0
851261  1701200.0
851262  1380900.0
851263   705100.0

[851264 rows x 7 columns]

In [9]:
# Calculate the percentage increase for each stock
df_filtered['percent_increase'] = (df_filtered['close'] - df_filtered['open']) / df_filtered['open'] * 100

In [10]:
print(df_filtered['percent_increase'])

0         1.952520
1        -4.199932
2        -1.228733
3         0.987184
4        -1.743442
            ...
851259   -0.106477
851260   -0.069652
851261   -0.205071
851262    1.609660
851263   -1.051660
Name: percent_increase, Length: 851264, dtype: float64

In [11]:
# Sort the dataframe by percent_increase in descending order
df_sorted = df_filtered.sort_values(by='percent_increase', ascending=False)

In [12]:
print(df_sorted )

             date symbol       open      close        low       high  \
386436 2013-04-09   FSLR  27.139999  39.349998  26.760000  41.000000
729860 2016-01-14    WMB  13.420000  18.290001  13.240000  18.440001
745435 2016-03-02    CHK   2.620000   3.400000   2.600000   3.750000
796037 2016-07-26   LLTC  49.000000  62.490002  48.709999  64.419998
745934 2016-03-03    CHK   3.370000   4.270000   3.320000   4.720000
...           ...    ...        ...        ...        ...        ...
728059 2016-01-11    FCX   5.400000   4.310000   4.230000   5.420000
737451 2016-02-08    CHK   2.560000   2.040000   1.500000   2.590000
649598 2015-05-27   KORS  60.590000  45.930000  45.880001  60.590000
737844 2016-02-08    WMB  14.930000  11.160000  10.220000  15.000000
214919 2011-10-25   FSLR  58.110001  43.270000  42.500000  58.610001

             volume  percent_increase
386436   40171200.0         44.988944
729860   42552100.0         36.289128
745435   76288000.0         29.770992
796037    8862100.0         27.530616
745934  138475400.0         26.706231
...             ...               ...
728059  117668200.0        -20.185185
737451  121984600.0        -20.312500
649598   69237400.0        -24.195412
737844   62368000.0        -25.251172
214919   23572600.0        -25.537774

[851264 rows x 8 columns]

In [13]:
# Print the top 10 performing stocks
print(df_sorted.head(10))

             date symbol       open      close        low       high  \
386436 2013-04-09   FSLR  27.139999  39.349998  26.760000  41.000000
729860 2016-01-14    WMB  13.420000  18.290001  13.240000  18.440001
745435 2016-03-02    CHK   2.620000   3.400000   2.600000   3.750000
796037 2016-07-26   LLTC  49.000000  62.490002  48.709999  64.419998
745934 2016-03-03    CHK   3.370000   4.270000   3.320000   4.720000
658705 2015-06-22    WMB  48.340000  60.860001  48.340000  61.380001
759407 2016-04-12    CHK   4.840000   6.050000   4.830000   6.150000
222559 2011-11-16     MU   5.450000   6.740000   5.450000   6.840000
746268 2016-03-03    SWN   5.990000   7.340000   5.980000   7.640000
731298 2016-01-20    SWN   6.060000   7.380000   5.900000   7.520000

             volume  percent_increase
386436   40171200.0         44.988944
729860   42552100.0         36.289128
745435   76288000.0         29.770992
796037    8862100.0         27.530616
745934  138475400.0         26.706231
658705  101131000.0         25.899878
759407  183964100.0         25.000000
222559   72164600.0         23.669725
746268   43384900.0         22.537563
731298   22418600.0         21.782178